{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="pt-BR"> <!--<![endif]-->
<head>
 
<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Questionario de avaliação de desenvolvedores</title>   

<meta name="description" content="Questionario de avaliação de desenvolvedores" /> 

<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>   

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/4.10.3/bootstrap-slider.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/4.10.3/css/bootstrap-slider.min.css">

<script type="text/javascript">
  $( document ).ready(function() {
    $('.slider-field').slider();
    $(".slider-field").on("slide", function(slideEvt) {
      $(this).parent('div').children('.current-slider-val').children('span').text(slideEvt.value);
    });
    $(".slider-enabled").click(function() {
      if(this.checked) {
        $(this).parent('div').children('.slider-field').slider("disable");
      }
      else {
        $(this).parent('div').children('.slider-field').slider("enable");
      }
    });
  });
  
</script>
<style type="text/css">
  .slider-selection {
    background: #BABABA;
  }
  .current-slider-val{
    margin-left: 10px;
  }
</style>

</head>

<body>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Olá, Bem-vindo ao questionario de avaliação de candidatos, para a
vaga de desenvolvedor web.</h3>
    </div>
    <div class="panel-body"> 
      <form>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nome" required>
            </div>    
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email" required>
            </div>  
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Questões</h3>
              </div>
              <div class="panel-body"> 
                {% for question in questions %}
                  <div class="row">
                    <div class="col-sm-2">
                      <div class="form-group">
                        <div class="text-rigth">
                          {{ question.question_text }}
                        </div>
                      </div>  
                    </div>
                    <div class="col-sm-10">
                      <div class="form-group">
                        <input type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="0" class="slider-field"  data-slider-enabled="true"/>
                        <span class='current-slider-val'>
                          <span>0</span>
                        </span>
                        <input class="slider-enabled" type="checkbox"/>Não Responder
                      </div>
                    </div>
                  </div>
                {% endfor %}
                <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <button type="submit" class="btn btn-success">Enviar</button>
                      </div>
                    </div>
                  </div>
                </div>  
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>